<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>表情包搜索</title>
    <style>
        body{
            font-family: '微软雅黑';
        }
        .query-input {
            width: 40%;
            border-radius: 5px;
            height:40px;
            font-size: 18px;
            padding:0 10px;
            border: 1px solid #dddddd;
        }
        .query-input:focus{
            border-color: #4285f4;
        }
    </style>
</head>
<body id='app'>

<div style="width:100%; height:100%; padding-top:10%;">
    <div style="text-align:center;">
        <h1>%</h1>
        <p>语音搜索</p>
    </div>
</div>

</body>
</html>